{% extends 'base.html.twig' %}

{% block pagination %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.first is defined %}
                <li class="page-item{% if pagination.isFirstPage() %} disabled{% endif %}">
                    <a class="page-link" href="{{ pagination.first }}">First</a>
                </li>
            {% endif %}

            {% if pagination.previous is defined %}
                <li class="page-item{% if pagination.isFirstPage() %} disabled{% endif %}">
                    <a class="page-link" href="{{ pagination.previous }}">Previous</a>
                </li>
            {% endif %}

            {% for page in pagination.pagesInRange(5) %}
                {% if page != pagination.current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next is defined %}
                <li class="page-item{% if pagination.isLastPage() %} disabled{% endif %}">
                    <a class="page-link" href="{{ pagination.next }}">Next</a>
                </li>
            {% endif %}

            {% if pagination.last is defined %}
                <li class="page-item{% if pagination.isLastPage() %} disabled{% endif %}">
                    <a class="page-link" href="{{ pagination.last }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
